<div class="logos overflow-hidden position-relative">
  <div class="logos-slide">
    <img
      src="/assets/imgs/logos/Hewlett-Packard_House_And_Garage_Logo_Dell_PNG_-_Free_Download-removebg-preview.png"
      alt=""
    />
    <img
      src="/assets/imgs/logos/Download_Levis_Brand_Clothes_Logo_Black_Symbol_Design_Fashion_Vector_Illustration-removebg-preview.png"
      alt=""
    />
    <img src="/assets/imgs/logos/download-removebg-preview.png" alt="" />
    <img
      src="/assets/imgs/logos/Apple_Logo_PNG_-_Free_Download-removebg-preview.png"
      alt=""
    />
    <img src="/assets/imgs/logos/Nike_logo-removebg-preview.png" alt="" />
    <img
      src="/assets/imgs/logos/the_north_face_logo-removebg-preview.png"
      alt=""
    />
    <img
      width="195"
      src="/assets/imgs/logos/download__1_-removebg-preview.png"
      alt=""
    />
    <img
      src="/assets/imgs/logos/Adidas_Logo_Herzogenaurach_Three_Stripes_Clothing_PNG_-_Free_Download-removebg-preview.png"
      alt=""
    />
    <img
      src="/assets/imgs/logos/Herzogenaurach_Puma_Adidas_Logo_PNG_-_Free_Download-removebg-preview.png"
      alt=""
    />
    <img
      src="/assets/imgs/logos/Vans___Brands_of_the_World____Download_vector_logos_and_logotypes-removebg-preview.png"
      alt=""
    />
    <img
      src="/assets/imgs/logos/Descargar_lenovo_logo_marca_teléfono_símbolo_negro_diseño_China_móvil_vector_ilustración-removebg-preview.png"
      alt=""
    />
  </div>
  <div class="logos-slide">
    <img
      src="/assets/imgs/logos/Hewlett-Packard_House_And_Garage_Logo_Dell_PNG_-_Free_Download-removebg-preview.png"
      alt=""
    />
    <img
      src="/assets/imgs/logos/Download_Levis_Brand_Clothes_Logo_Black_Symbol_Design_Fashion_Vector_Illustration-removebg-preview.png"
      alt=""
    />
    <img src="/assets/imgs/logos/download-removebg-preview.png" alt="" />
    <img
      src="/assets/imgs/logos/Apple_Logo_PNG_-_Free_Download-removebg-preview.png"
      alt=""
    />
    <img src="/assets/imgs/logos/Nike_logo-removebg-preview.png" alt="" />
    <img
      src="/assets/imgs/logos/the_north_face_logo-removebg-preview.png"
      alt=""
    />
    <img
      width="195"
      src="/assets/imgs/logos/download__1_-removebg-preview.png"
      alt=""
    />
    <img
      src="/assets/imgs/logos/Adidas_Logo_Herzogenaurach_Three_Stripes_Clothing_PNG_-_Free_Download-removebg-preview.png"
      alt=""
    />
    <img
      src="/assets/imgs/logos/Herzogenaurach_Puma_Adidas_Logo_PNG_-_Free_Download-removebg-preview.png"
      alt=""
    />
    <img
      src="/assets/imgs/logos/Vans___Brands_of_the_World____Download_vector_logos_and_logotypes-removebg-preview.png"
      alt=""
    />
    <img
      src="/assets/imgs/logos/Descargar_lenovo_logo_marca_teléfono_símbolo_negro_diseño_China_móvil_vector_ilustración-removebg-preview.png"
      alt=""
    />
  </div>
</div>
