<div class="p-4" style="background: 
     radial-gradient(circle at 76% 40%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 50%, rgba(29,29,29,0.04) 50%, rgba(29,29,29,0.04) 100%),
     radial-gradient(circle at 66% 16%, rgba(214,214,214,0.04) 0%, rgba(214,214,214,0.04) 50%, rgba(91,91,91,0.04) 50%, rgba(91,91,91,0.04) 100%),
     radial-gradient(circle at 86% 81%, rgba(192,192,192,0.04) 0%, rgba(192,192,192,0.04) 50%, rgba(73,73,73,0.04) 50%, rgba(73,73,73,0.04) 100%),
     linear-gradient(90deg, rgb(255,255,255), rgb(255,255,255))">

    <div class="container mt-4 animate__animated animate__fadeIn">
        <!-- <h2 class="mb-4 fw-bold text-center animate__animated animate__fadeInDown">All Orders</h2> -->

        <div class="table-responsive animate__animated animate__fadeInUp animate__delay-1s">
            <table class="table table-hover table-striped align-middle shadow-sm">
                <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>Order ID</th>
                        <th>Total ($)</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th>action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of orders; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>#{{ order.id }}</td>
                        <td>{{ order.totalAmount | currency:'USD' }}</td>
                        <td>
                            <span class="badge px-3 py-2 text-white fw-medium"
                                [ngClass]="getStatusBadgeClass(order.paymentStatus)">
                                {{ getStatusClass(order.paymentStatus) }}
                            </span>
                        </td>
                        <td>{{ order.orderDate | date: 'dd/MM/yyyy' }}</td>
                        <td class="btn btn-info" [routerLink]="['/orderD',order.id]"
                            routerLinkActive="router-link-active">see details</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>