#hero {
  min-height: 100vh;
  background-image: url("/assets/imgs/background.png");
  background-position: center;
  background-size: cover;
}

h1 {
  font-size: 60px;
}

.categoryImg {
  transition: 0.3s ease-in-out all;
  filter: brightness(0.7);
}
.categoryImg:hover {
  transform: scale(1.2);
}

.elecs-img {
  top: 50%;
  left: 70%;
}

.stages img:not(:first-child) {
  filter: drop-shadow(0px 7px 6px black);
}
