<section
  id="home"
  class="d-flex justify-content-center flex-column position-relative"
>
  <div class="container">
    <div class="position-absolute top-50 translate-middle-y z-1">
      <h1 class="mainColor text-capitalize fw-bold my-4">
        shopping and <br />
        department store.
      </h1>
      <p class="fs-4 my-4">
        Shopping is a bit of a relaxing hobby for me, which<br />
        is sometimes troubling for the bank balance.
      </p>
      <a class="btn mainBg text-white rounded-pill px-4 py-2 fs-5" href=""
        >Learn More</a
      >
    </div>
  </div>
</section>
