<section id="category-details">
  <div class="landing position-relative overflow-hidden">
    <img
      class="w-100 position-absolute z-0"
      src="{{ categoryData.imgUrl }}"
      alt=""
    />

    <div class="position-absolute top-50 start-50 translate-middle">
      <h1 class="text-white text-center fw-bold">
        {{ categoryData.name }}
      </h1>
      <p class="text-center">
        <a class="link-style-none" routerLink="/">Home</a>
        <span class="text-white"> / {{ categoryData.name }}</span>
      </p>
    </div>
  </div>
  <div class="container">
    <div class="subcates my-5">
      <!-- SUBCATEGORIES -->
      <ul
        class="nav nav-tabs border-0 justify-content-center"
        id="myTab"
        role="tablist"
      >
        <li
          *ngFor="
            let SubCategory of categoryData.subCategories;
            let isFirst = first
          "
          class="nav-item border-0"
          role="presentation"
        >
          <button
            class="btn border-0"
            (click)="getSubCategoryProducts(SubCategory.id)"
          >
            <img
              class="nav-link p-0 rounded-circle subCategory"
              [ngClass]="{ active: isFirst }"
              id="home-tab"
              data-bs-toggle="tab"
              type="button"
              role="tab"
              width="100"
              height="100"
              [src]="SubCategory.imgUrl"
              alt=""
            />
            <p>{{ SubCategory.name }}</p>
          </button>
        </li>
      </ul>
    </div>

    <div class="row gy-4 pb-5">
      @for (product of productData; track $index) {
      <div class="col-md-4 col-lg-3">
        <app-product-card [product]="product"></app-product-card>
      </div>
      }
    </div>
  </div>
</section>
