
<section id="Register" class="position-relative w-100 min-vh-100">


  <div class="left-side position-absolute w-50 h-100 z-0 d-flex flex-column justify-content-center align-items-center">

  <div *ngIf="error" class="alert alert-danger w-50 p-5">
    <div *ngIf="errorMessage" class="text-center fw-bolder">{{ errorMessage }}</div>
  </div>

    <div class="d-flex align-items-center p-5 d-none d-xl-flex">
      <div>
        <h1 class="text-white" style="font-size: 50px">
          Welcome to <span style="color: #a0ffa0">VerdiShop</span>
        </h1>
        <p class="text-white-50 fs-5">
          Join us today and unlock a world of seamless shopping! <br />
          Create your account to enjoy exclusive deals, a personalized shopping
          experience
        </p>
      </div>
    </div>
  </div>

  <div
    class="d-flex formBox justify-content-center align-items-center position-absolute py-1 px-2 p-lg-5 top-50 end-0 translate-middle-y me-5 rounded-4"
    style="background-color: rgba(255, 255, 255, 0.31); width: 45%">
    <form [formGroup]="registerForm" (ngSubmit)="OnRegister()">
      <h1 class="text-white pb-3">Sign up</h1>
      <div class="d-flex gap-3 justify-content-between flex-column flex-md-row">
        <!-- First name begin -->
        <div class="mb-3">
          <input type="text" formControlName="FName" class="form-control" [ngClass]="{
              'is-invalid':
                registerForm.get('FName')?.invalid &&
                registerForm.get('FName')?.touched,
              'is-valid':
                registerForm.get('FName')?.valid &&
                registerForm.get('FName')?.touched
            }" id="firstName" placeholder="Enter your first name" required (blur)="markTouched('FName')" />
          <div *ngIf="
              registerForm.get('FName')?.invalid &&
              registerForm.get('FName')?.touched
            ">
            <small class="text-danger" *ngIf="registerForm.get('FName')?.errors?.['required']">Name is required</small>
            <small class="text-danger" *ngIf="registerForm.get('FName')?.errors?.['minlength']">Minimum 3 characters
              required</small>
          </div>
        </div>
        <!-- First name end -->
        <!-- Last name begin -->
        <div class="mb-3">
          <input type="text" formControlName="LName" class="form-control" id="lastName"
            placeholder="Enter your last name" required (blur)="markTouched('LName')" [ngClass]="{
              'is-invalid':
                registerForm.get('LName')?.invalid &&
                registerForm.get('LName')?.touched,
              'is-valid':
                registerForm.get('LName')?.valid &&
                registerForm.get('LName')?.touched
            }" />
          <div *ngIf="
              registerForm.get('LName')?.invalid &&
              registerForm.get('LName')?.touched
            ">
            <small class="text-danger" *ngIf="registerForm.get('LName')?.errors?.['required']">Last Name is
              required</small>
            <small class="text-danger" *ngIf="registerForm.get('LName')?.errors?.['minlength']">Minimum 3 characters
              required</small>
          </div>
        </div>
        <!-- Last name end -->
      </div>

      <!-- Email begin -->
      <div class="mb-3">
        <input type="email" formControlName="Email" class="form-control" id="email" placeholder="Enter your email"
          required (blur)="markTouched('Email')" [ngClass]="{
            'is-invalid':
              registerForm.get('Email')?.invalid &&
              registerForm.get('Email')?.touched,
            'is-valid':
              registerForm.get('Email')?.valid &&
              registerForm.get('Email')?.touched
          }" />
        <div *ngIf="
            registerForm.get('Email')?.invalid &&
            registerForm.get('Email')?.touched
          ">
          <small class="text-danger" *ngIf="registerForm.get('Email')?.errors?.['required']">Email is required</small>
          <small class="text-danger" *ngIf="registerForm.get('Email')?.errors?.['email']">Invalid email format</small>
        </div>
      </div>
      <!-- Email End -->

      <div class="d-flex gap-3 justify-content-between flex-column flex-md-row">
        <!-- Password  begin -->
        <div class="mb-3">
          <input type="password" formControlName="Password" class="form-control" id="password"
            placeholder="Enter your password" required (blur)="markTouched('Password')" [ngClass]="{
              'is-invalid':
                registerForm.get('Password')?.invalid &&
                registerForm.get('Password')?.touched,
              'is-valid':
                registerForm.get('Password')?.valid &&
                registerForm.get('Password')?.touched
            }" />
          <div *ngIf="
              registerForm.get('Password')?.invalid &&
              registerForm.get('Password')?.touched
            ">
            <small class="text-danger" *ngIf="registerForm.get('Password')?.errors?.['required']">Password is
              required</small>
            <small class="text-danger" *ngIf="registerForm.get('Password')?.errors?.['minlength']">Minimum 6 characters
              required</small>
          </div>
        </div>
        <!-- Password end -->
        <!-- Confirm Password begin -->
        <div class="mb-3">
          <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword"
            placeholder="confirm Password" required (blur)="markTouched('confirmPassword')" [ngClass]="{
                    'is-invalid': (registerForm.get('confirmPassword')?.invalid || registerForm.errors?.['mismatch']) && registerForm.get('confirmPassword')?.touched,
                     'is-valid': registerForm.get('confirmPassword')?.valid && !registerForm.errors?.['mismatch'] && registerForm.get('confirmPassword')?.touched
                    }" />
          <div *ngIf="registerForm.errors?.['mismatch'] && registerForm.get('confirmPassword')?.touched">
            <small class="text-danger">Passwords do not match</small>
          </div>

          <div
            *ngIf="registerForm.get('confirmPassword')?.errors?.['required'] && registerForm.get('confirmPassword')?.touched">
            <small class="text-danger">Confirm password is required</small>
          </div>
        </div>
        <!-- Confirm Password end -->
      </div>

      <!-- Role begin -->
      <!-- <div class="mb-3">
        <select
          class="form-select"
          name="Role"
          id="Role"
          formControlName="Role"
          aria-label="Default select example"
          required
          (blur)="markTouched('Role')"
          [ngClass]="{
            'is-invalid':
              registerForm.get('Role')?.invalid &&
              registerForm.get('Role')?.touched,
            'is-valid':
              registerForm.get('Role')?.valid &&
              registerForm.get('Role')?.touched
          }"
        >
          <option value="" disabled hidden>Select role for yourself</option>
          <option value="User">Customer</option>
          <option value="Merchant">Merchant</option>
        </select>
      </div> -->
      <!-- Role end -->

      <!-- Profile Image begin -->
      <div class="mb-3">
        <label for="profileImage" class="form-label text-white">Profile Image</label>
        <input type="file" formControlName="profileImage" class="form-control" id="profileImage" accept="image/*"
          (change)="onFileSelected($event)" required (blur)="markTouched('profileImage')" [ngClass]="{
            'is-invalid':
              registerForm.get('profileImage')?.invalid && isSubmitted,
            'is-valid': registerForm.get('profileImage')?.valid && isSubmitted
          }" />
        <div *ngIf="registerForm.get('profileImage')?.invalid && isSubmitted">
          <small class="text-danger">Profile image is required</small>
        </div>
      </div>
      <!-- Profile Image end -->

      <div class="d-grid">
        <button type="submit" class="btn btn-success">Register</button>
      </div>
      <p class="mt-3 text-center text-white">
        Already have an account?
        <a routerLink="/login" class="text-decoration-none" style="color: #10346a">Login here</a>
      </p>
    </form>


  </div>
</section>
